.wrapper{
	width: 60%;
	margin: 0 auto;
	border: 5px solid #ddd;
}
label{
	font-size: 30px;
}
.first_name, .last_name, .email, .password {
	width: 80%;
	height: 25px;
	padding: 10px;
	font-size: 25px;
}
.message{
	font-size: 18px;
	padding-left: 10px;
}

table{
	width: 100%;
	border: 2px solid black;
}
th, td{
    font-size: 20px;
    text-align: center;
    border: 2px solid black;

}

td:hover {
	background-color: #ddd
}
